body, html {
  height: 100%;
  width: 100%;
  text-align: center;
}

h1 {
  font-family: "Impact";
}
/* Form Styles */

.base-form {
  text-align: center;
  width: 20vw;
  margin:0 auto;
  height: 100%;
}

.base-form input {
  width: 100%;
  background: transparent;
  border-bottom: solid 1px #fd4646;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  padding: 0.5em 0.4em;
  transition: all 0.4s;
  color: #bdc3c7;
  margin: 0.7rem 0;
}

.base-form input:focus {
  transform: scale3d(1.06, 1.06, 1.06);
}

.base-form button {
  background: transparent;
  width: 50%;
  margin-top: 2rem;
  font-size: 1rem;
  border: solid 1px #fd4646;
  padding: 1em 0;
  color: #bdc3c7;
  transition: all 0.6s;
}

.base-form button:hover {
  cursor: pointer;
  background: #fd4646;
}


@media (max-width: 550px) {
  .base-form {
    width: 50vw;
  }
}

.errorlist {
  color: #fd4646;
}

/* Navigation Styles */

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  
  display: block;
  padding: 0 10px;
  line-height: 70px;
  background: #ffffff;
  color: #463f3f;
  text-decoration: none;
  font-family: 'Impact';
  letter-spacing: 0.5px;
}

nav ul li a:hover {
  background: #bdc3c7;
  text-shadow: 1px 1px 5px #fd4646; 
}

nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: '▾';
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 10px;
  line-height: 20px;
}

.features-button:hover {
  cursor: pointer;
}

.nav-dropdown {
  position: absolute;
  z-index: 100;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;

}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    /* padding: 70px 0 15px; */
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #463f3f;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}

.navigation {
  width: auto;
  height: 70px;
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.brand-img:hover {
  cursor: pointer;
}

.brand-img {
  margin-left: 30px;
  height: 70px;
  float: left;
}



.blogs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.blogs-container .blog-card {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  width: 320px;
  margin: 15px;
  background: rgb(235, 235, 235);
  border: 1px solid #CB6074;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

.blogs-container .blog-card figure {
  position: relative;
  width: 100%;
  padding: 0px 0px 170px;
  overflow: hidden;
}

.blogs-container .blog-card figure img {
  display: block;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  padding: 0;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.blogs-container .blog-card .blog-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.blogs-container .blog-card .blog-content .blog-title {
  font-size: 18px;
  font-weight: 500;
  padding: 7px;
  height: auto;
  word-wrap: break-word;
  font-family: 'Impact';
}

.blogs-container .blog-card .blog-content .blog-footer {
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  height: 50px;
  align-items: center;
  font-family: 'Candara';
}
.blogs-container .blog-card .blog-content .blog-footer img{
  margin: 5px;
}
.blogs-container .blog-card:hover {
  transform: scale(1.015) translateZ(0) perspective(1px);
  transition: 0.3s ease-in-out;
  background-color: #bdc3c7;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(253,70,70,0.5); 
  box-shadow: 0px 0px 10px 5px rgba(253,70,70,0.5);
}

.no-articles {
  color: #ffffff;
  margin-top: 0.5em;
  margin: 0 auto;
  font-size: 2rem;
}

.no-articles a {
  color:#ffffff;
  font-size: 2rem;
  text-decoration: none;
}

.no-articles a:hover {
  color: #fd4646;
}

.create-form {
  display: block;
  margin: 0 auto;
}

.create-form input {
  width: auto;
  background: transparent;
  border-bottom: solid 1px #fd4646;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  padding: 0.5em 0.4em;
  transition: all 0.4s;
  color: #bdc3c7;
  margin: 0.7rem 0;
}

.create-form input[type='file'] {
  color: #bdc3c7;
}

.create-form button {
  background: transparent;
  display: block;
  margin: 0 auto;
  width: 50vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: solid 1px #fd4646;
  padding: 1em 0;
  color: #bdc3c7;
  transition: all 0.6s;
}

.create-form div {
  border: none;
}

@media only screen and (max-width:1000px) {
  .create-form div {
    width: 50vw;
    overflow: hidden;
  }
}

.create-form button:hover {
  cursor: pointer;
  background: #fd4646;
}



.pagination a {
  color: #fd4646;
  text-decoration: none;
  
}

.pagination .page-current {
  color: #ffffff;
}

.pagination {
  font-family: 'Candara';
  width: 15%;
  margin: auto;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px #bdc3c7 solid;
}

.profile-h1 {
  color: #ffffff;
  text-shadow: 0 0 10px #fd4646;
  border-bottom: solid 1px #ffffff;
  padding: 0 0 0.8em 0;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 1em;
  margin-top: 0.5em;
  font-size: 2rem;
}

.article-details {
  color: #fff;
  width: 100%;
  font-size: 30px;
  align-items: center;
}

.article-details img {
  width: 50%;
  height: 50%;
}

.blogs-container .blog-card .read-article {
  color: #463f3f;
  font-family: 'Impact';
  text-decoration: none;
  position: relative;
  display: block;
  float: right;
  padding: 10px;
}

.blogs-container .blog-card .read-article:hover {
  color: #fd4646;
}

.profile-wrapper {
  display: flex;
}

.profile-wrapper h1 {
  
  font-size: 1.5rem;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fd4646;
  color: #333;
  text-align: center;
  border-bottom: 2px #fd4646 solid;
}

.profile-wrapper div {
  background-color: #fdfdfd;
  border: 2px #bdc3c7 solid;
  border-radius: 8px;
  margin: auto;
  flex: 0 0 30%;
  max-height: 200px;
  overflow-y: scroll;
}

.no-likes {
  display: block;
  margin: auto;
  color: #333;
  padding: 10px;
  font-family: 'Candara';
}

.profile-wrapper div ul a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px;
  font-family: 'Candara';
}

.profile-wrapper div ul a:hover {
  background-color: #bdc3c7;
  color: #fd4646;
}

.like-button {
  justify-content: center;
  border: none;
  float: left;
  background:none;
  padding: 10px;
  transition: 0.4s;
}

.like-button:hover{
  transform: scale(1.3) rotate(-4deg);
  transition: 0.4s;
  cursor: pointer;
}

.like-button a {
  color: #333;
  font-size: medium;
}

.like-button:hover a{
  color: #fd4646;
}

.like-button.profile {
  float: none;
  background: none;
}

.like-button.profile a {
  color: #ffffff;
  font-size: x-large;
}

.like-button.profile:hover a{
  color: #fd4646;
}

.buttons {
  display: flex;
  justify-content: center;
}

.brand-name {
  float: left;
  font-family: 'Impact';
  font-size: large;
  padding-top: 25px;
}

.home-h1 {
  color: #FFFFFF;
  text-shadow: 0 0 10px #fd4646;
  text-decoration: underline;
  /* color: #fd4646; */
  font-size: 3.5em;
  padding-top: 1em;
}

section#features {
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
  justify-content: center;
}

section#features div.card {
  font-family: 'Tahoma';
  margin: 0 auto;
  display: block;
  align-items: center;
  text-align: center;
  transition: 0.3s;
  padding: 20px;
  height: auto;
  margin-bottom: 10px;
  width: 60vw;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.6727824919030112) 0%, rgba(253, 70, 70, 0.48230630142682074) 100%);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s, color .5s;
  transition: 0.4s;
}

section#features div.card:hover {
  background-size: 100% 100%;
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.4s;
}


section#features img {
  height: 80px;
  padding-top: 10px;
}

section#features div.desc p {
  font-size: 1.5rem;
  color: #ffffff;
}

section#features div.desc h2 {
  color: #fd4646;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-bottom: 10px;
}
section#features div.card:hover div.desc{
  color: #ffffff;
}
.profile-pic {
  height: 300px;
  width: 300px;
  margin-top: 10px;
}

#profile-default-icon {
  height: 300px;
  font-size: 15rem;
  background-color: white;
  padding-top: 15px;
  width: 300px;
  border: 5px solid black;
  margin-top: 10px;
}

#preview {
  height: 300px;
  width: 300px;
  border: 5px solid black;
  margin-top: 10px;
}

#previewh2 {
  color: #bdc3c7;
  font-family: 'Impact';
  font-size: 20px;
}


.calc-form button {
  background: transparent;
  width: 20em;
  margin-top: 1rem;
  font-size: 1rem;
  border: solid 1px #fd4646;
  padding: 1em 0;
  color: #bdc3c7;
  transition: all 0.6s;
}

.calc-form button:hover {
  cursor: pointer;
  background: #fd4646;
}

#form-table {
  margin: 0 auto;
}

#form-table td {
  display: flex;
  margin-left: 5px;
  margin-right: 10px;
  padding: 1px;
}

#form-table tbody tr {
  font-family: 'Candara';
  position: relative;
  top: 10px;
  left: 3px;
  right: 3px;
}

#form-table td p {
  font-size: 14px;
  font-family: 'Candara';
  font-weight: bold;
  color: #fd4646;
  padding-top: 2.5em;
}

#form-table th {
  font-family: 'Impact';
  color: #bdc3c7;
  padding-right: 1rem;
}

@media only screen and (max-width: 800px) {
  #features {
    flex-wrap: wrap;
  }
  #features div {
    margin-bottom: 10px;
    width: 100%;
  }
}

.create-form label {
  color: #bdc3c7;
  font-family: 'Candara';
}

.cals {
  float: left;
  color: #bdc3c7;
  font-size: large;
  padding: 10px;
}

.result {
  width: 400px;
  padding-top: 30px;
  margin: 0 auto;
}

.result p span {
  padding: 3px;
  border: 0.5px solid red;
}

input {
  width: auto;
  background: transparent;
  border-bottom: solid 1px #fd4646;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  padding: 0.5em 0.4em;
  color: #bdc3c7;
  transition: all 0.4s;
  margin: 0.7rem 0;
}

select {
  width: auto;
  background: transparent;
  border-bottom: solid 1px #fd4646;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  padding: 0.5em 0.4em;
  color: #bdc3c7;
  transition: all 0.4s;
  margin: 0.7rem 0;
}

select option {
  background-color: #333;
}

input:focus {
  transform: scale3d(1.06, 1.06, 1.06);
}

.page-h1{
  color: #FFFFFF;
  text-shadow: 0 0 10px #fd4646;
  border-bottom: solid 1px #ffffff;
  padding: 0 0 0.8em 0;
  width: 50%;
  margin-left: 25%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 2rem;
}

#blog-author-photo{
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 50%;
  
}

.like-button:hover p{
  display: block;
}
.like-button p{
  display: none;
  color: #ffffff;
  text-align: left;
  position: absolute;
  font-size: 11px;
  margin-right: 10px;
}

#blog-add-button{
  border: none;
  background:none;
  padding: 10px;
  color: #ffffff;
  font-size: x-large;
  transition: 0.4s;
  text-decoration: none;
}
#blog-add-button:hover i{
  transform: scale(1.3);
  transition: 0.4s;
}
#blog-add-button i{
  transition: 0.4s;
  
}
#blog-add-button span{
  display:none;
  transition: 0.4s;
}
#blog-add-button:hover span{
  display: inline-block;
  transition: 0.4s;

  font-family: 'Impact';
  text-shadow: 1px 1px 5px #fd4646;
}

#video{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  z-index: -1;
  object-fit: cover;
}
#search-form{
  float: left;
  margin-left: 15px;
}
#search-form input{
  color: #333;
}
#search-btn{
  border: none;
  background:none;
  color: #333;
  font-size: x-large;
  transition: 0.4s;
}
#search-btn:hover{
  color: #fd4646;
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.2);
}