body,
html {
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: url("/static/images/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-color: black;
}

h1 {
  font-family: "Impact";
}

.base-form {
  text-align: center;
  width: 20vw;
  margin: 0 auto;
}

.base-form input {
  width: 100%;
  background: transparent;
  border-bottom: solid 1px #fd4646;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  padding: 0.5em 0.4em;
  transition: all 0.4s;
  color: white;
  margin: 0.7rem 0;
}

.base-form input:focus {
  transform: scale3d(1.06, 1.06, 1.06);
}

.base-form button {
  background: transparent;
  width: 50%;
  margin-top: 2rem;
  font-size: 1rem;
  border: solid 1px #fd4646;
  padding: 1em 0;
  color: white;
  transition: all 0.6s;
}

#discard-changes-btn {
  float: left;
  width: 45%;
}

#save-changes-btn {
  float: right;
  width: 45%;
}

.base-form button:hover {
  cursor: pointer;
  background: #fd4646;
}

@media (max-width: 550px) {
  .base-form {
    width: 50vw;
  }
}

.errorlist {
  color: #fd4646;
}

/* Navigation Styles */

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  display: flex;
  line-height: 70px;
  background: #ffffff;
  color: #333;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Impact";
  padding-left: 10px;
  padding-right: 10px;
}

nav ul li a:hover {
  background: #bdc3c7;
  text-decoration: underline;
}

nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: "▾";
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 10px;
  line-height: 20px;
}

.features-button:hover {
  cursor: pointer;
}

.nav-dropdown {
  position: absolute;
  z-index: 1000;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
  }
  nav ul {
    width: 100%;
    position: absolute;
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    justify-content: center;
    padding: 20px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #463f3f;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 825px) {
  .nav-list {
    display: block !important;
  }
}

.navigation {
  position: sticky;
  top: 0;
  height: 70px;
  background: #ffffff;
  z-index: 1000;
}

.brand-img:hover {
  cursor: pointer;
}

.brand-img {
  margin-left: 10px;
  margin-right: 10px;
  height: 70px;
  float: left;
}

.blogs-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.blogs-container .blog-card {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  width: 320px;
  margin: 15px;
  background: rgb(235, 235, 235);
  border: 1px solid #cb6074;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

.blogs-container .blog-card figure {
  position: relative;
  width: 100%;
  padding: 0px 0px 170px;
  overflow: hidden;
}

.blogs-container .blog-card figure img {
  display: block;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  padding: 0;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.blogs-container .blog-card .blog-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blogs-container .blog-card .blog-content .blog-title {
  font-size: 18px;
  font-weight: 500;
  padding: 7px;
  height: auto;
  word-wrap: break-word;
  font-family: "Impact";
}

.blogs-container .blog-card .blog-content .blog-footer {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  height: 50px;
  align-items: center;
  font-family: "Candara";
  font-weight: bold;
}

.blogs-container .blog-card .blog-content .blog-footer img {
  margin: 5px;
}

.blogs-container .blog-card:hover {
  transform: scale(1.015) translateZ(0) perspective(1px);
  transition: 0.3s ease-in-out;
  background-color: #bdc3c7;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(253, 70, 70, 0.5);
  box-shadow: 0px 0px 10px 5px rgba(253, 70, 70, 0.5);
}

.no-articles {
  color: #ffffff;
  margin-top: 0.5em;
  margin: 0 auto;
  font-size: 2rem;
}

.no-articles a {
  color: #ffffff;
  font-size: 2rem;
  text-decoration: none;
}

.no-articles a:hover {
  color: #fd4646;
}

.create-form {
  display: block;
  margin: 0 auto;
}

.create-form input {
  width: 50%;
  display: block;
  background: transparent;
  border-bottom: solid 1px #fd4646;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  padding: 0.5em 0.4em;
  transition: all 0.4s;
  color: white;
  margin: 0.7rem auto;
}

.create-form input[type="file"] {
  color: white;
  width: auto;
}

.create-form button {
  background: transparent;
  display: block;
  margin: 0 auto;
  width: 50vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: solid 1px #fd4646;
  padding: 1em 0;
  color: white;
  transition: all 0.6s;
}

.create-form div {
  border: none;
}

@media only screen and (max-width: 1000px) {
  .create-form div {
    width: 50vw;
    overflow: hidden;
  }
}

.create-form button:hover {
  cursor: pointer;
  background: #fd4646;
}

.pagination a {
  color: #fd4646;
  text-decoration: none;
}

.pagination .page-current {
  color: #ffffff;
}

.pagination {
  font-family: "Candara";
  width: 15%;
  margin: auto;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px #bdc3c7 solid;
}

.profile-h1 {
  color: #ffffff;
  text-shadow: 0 0 10px #fd4646;
  border-bottom: solid 1px #ffffff;
  padding: 0 0 0.8em 0;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 1em;
  margin-top: 0.5em;
  font-size: 2rem;
}

.article-details {
  color: #fff;
  width: 100%;
  font-size: 30px;
  align-items: center;
}

.article-details img {
  width: 50%;
  height: 50%;
}

.blogs-container .blog-card .read-article {
  color: #463f3f;
  font-family: "Impact";
  text-decoration: none;
  position: relative;
  display: block;
  float: right;
  padding: 10px;
}

.blogs-container .blog-card .read-article:hover {
  color: #fd4646;
}

.profile-wrapper {
  display: flex;
}

.profile-wrapper h1 {
  font-size: 1.5rem;
  padding: 5px;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #fd4646;
  color: #333;
  text-align: center;
  border-bottom: 2px #fd4646 solid;
}

.profile-wrapper div {
  background-color: #fdfdfd;
  border: 2px #bdc3c7 solid;
  border-radius: 8px;
  margin: auto;
  flex: 0 0 30%;
  max-height: 200px;
  overflow-y: scroll;
}

.no-likes {
  display: block;
  margin: auto;
  color: #333;
  padding: 10px;
  font-family: "Candara";
}

.profile-wrapper div ul a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px;
  font-family: "Candara";
}

.profile-wrapper div ul a:hover {
  background-color: #bdc3c7;
  color: #fd4646;
}

.like-button {
  justify-content: center;
  border: none;
  float: left;
  background: none;
  padding: 10px;
  transition: 0.4s;
}

.like-button:hover {
  transform: scale(1.3) rotate(-4deg);
  transition: 0.4s;
  cursor: pointer;
}

.like-button a {
  color: #333;
  font-size: medium;
}

.like-button:hover a {
  color: #fd4646;
}

.like-button.profile {
  float: none;
  background: none;
}

.like-button.profile a {
  color: #ffffff;
  font-size: x-large;
}

.like-button.profile:hover a {
  color: #fd4646;
}

.buttons {
  display: flex;
  justify-content: center;
}

.brand-name {
  float: left;
  font-family: "Impact";
  font-size: large;
  padding-top: 25px;
}

.header-container {
  height: 320px;
  background-image: url("/static/images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-h1 {
  color: #fff;
  text-shadow: 0 0 10px #fd4646;
  -webkit-text-stroke: 2px black;
  font-family: "Verdana";
  font-weight: 600;
  font-size: 3em;
  letter-spacing: normal;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

section#features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section#features div.card {
  font-family: "Impact";
  margin: 0 auto;
  height: 320px;
  width: 350px;
}

section#features div.card:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.63916904652486) 18%,
    rgba(253, 70, 70, 1) 100%
  );
  cursor: pointer;
}

section#features img {
  height: 120px;
}

section#features div.desc p {
  font-size: 1.5rem;
  color: black;
  display: none;
}

section#features div.desc h2 {
  text-shadow: 0 0 10px #fd4646;
  color: #ffffff;
  font-size: 3rem;
  margin-bottom: 10px;
}

section#features div.card:hover div.desc p {
  display: block;
}

.profile-pic {
  height: 300px;
  width: 300px;
  margin-top: 10px;
}

#profile-default-icon {
  height: 300px;
  font-size: 15rem;
  background-color: white;
  padding-top: 15px;
  width: 300px;
  border: 5px solid black;
  margin-top: 10px;
}

#preview {
  height: 300px;
  width: 300px;
  border: 5px solid black;
  margin: 0 auto;
}

#previewh2 {
  color: #bdc3c7;
  font-family: "Impact";
  font-size: 20px;
}

.calc-form input {
  color: white;
  font-weight: bold;
}

.calc-form button {
  background: transparent;
  width: 20em;
  margin-top: 1rem;
  font-size: 1rem;
  border: solid 1px #fd4646;
  padding: 1em 0;
  color: white;
  transition: all 0.6s;
}

.calc-form button:hover {
  cursor: pointer;
  background: #fd4646;
}

#form-table {
  margin: 0 auto;
}

#form-table td {
  display: flex;
  margin-left: 5px;
  margin-right: 10px;
  padding: 1px;
}

#form-table tbody tr {
  font-family: "Candara";
  position: relative;
  top: 10px;
  left: 3px;
  right: 3px;
}

#form-table td p {
  font-size: 14px;
  font-family: "Candara";
  font-weight: bold;
  color: #fd4646;
  padding-top: 2.5em;
}

#form-table th {
  font-family: "Impact";
  color: #bdc3c7;
  padding-right: 1rem;
}

.cals {
  float: left;
  color: #bdc3c7;
  font-size: large;
  padding: 10px;
}

.result {
  width: 400px;
  padding-top: 30px;
  margin: 0 auto;
}

.result p span {
  padding: 3px;
  border: 0.5px solid red;
}

input {
  width: auto;
  background: transparent;
  border-bottom: solid 1px #fd4646;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  padding: 0.5em 0.4em;
  color: white;
  transition: all 0.4s;
  margin: 0.7rem 0;
}

select {
  width: auto;
  background: transparent;
  border-bottom: solid 1px #fd4646;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1rem;
  padding: 0.5em 0.4em;
  color: #bdc3c7;
  transition: all 0.4s;
  margin: 0.7rem 0;
}

select option {
  background-color: #333;
}

input:focus {
  transform: scale3d(1.06, 1.06, 1.06);
}

.page-h1 {
  color: #ffffff;
  text-shadow: 0 0 10px #fd4646;
  border-bottom: solid 1px #ffffff;
  padding: 0 0 0.8em 0;
  width: 50%;
  margin-left: 25%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 2rem;
}

#blog-author-photo {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 50%;
}

.like-button:hover p {
  display: block;
}

.like-button p {
  display: none;
  color: #ffffff;
  text-align: left;
  position: absolute;
  font-size: 11px;
  margin-right: 10px;
}

#blog-add-button {
  border: none;
  background: none;
  margin: 10px;
  color: #ffffff;
  font-size: large;
  transition: 0.4s;
  text-decoration: none;
}

#blog-add-button:hover i {
  transform: scale(1.3);
  transition: 0.4s;
}

#blog-add-button i {
  transition: 0.4s;
}

#blog-add-button span {
  display: none;
  transition: 0.4s;
}

#blog-add-button:hover span {
  display: inline-block;
  transition: 0.4s;
  font-family: "Impact";
  text-shadow: 1px 1px 5px #fd4646;
}

#search-form {
  margin: 0 auto;
}

#search-form input {
  color: white;
  font-weight: bold;
}

#search-btn {
  border: none;
  background: none;
  color: #fff;
  font-size: large;
  transition: 0.4s;
}

#search-btn:hover {
  color: #fd4646;
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1.1);
}

.article-page-form {
  display: inline-block;
  margin: 0 auto;
}

.article-page-form button {
  display: inline-block;
  border: none;
  background: none;
  color: #ffffff;
  font-size: x-large;
  transition: 0.4s;
}

.article-page-form button:hover {
  transform: scale(1.3) rotate(-4deg);
  transition: 0.4s;
  cursor: pointer;
  color: #fd4646;
}

#confirm-h1 {
  color: #ffffff;
  font-size: large;
}

#confirm-form button:hover {
  cursor: pointer;
}

#confirm-form {
  margin: 0 auto;
  display: inline-block;
}

#back-button a {
  text-decoration: none;
  color: #000000;
}

#pw-change-message {
  color: #ffffff;
  font-size: large;
}
#register-success-message {
  color: #ffffff;
  font-size: large;
}

#profile-link {
  text-decoration: none;
  color: #fd4646;
}
#profile-link:hover {
  text-decoration: underline;
}
