{% extends 'base.html' %}


{% block title %}
Edit an article
{% endblock title %}


{% block content %}
{% include 'nav.html' %}



<form action="{% url 'article edit' object.pk object.slug %}" class='create-form' method="post" enctype="multipart/form-data">
    <h1>Edit Article</h1>
    {{form.title.errors}}
    {% csrf_token %}
    {{form.media}}  
    {{form.title}}
    {{form.subtitle}}
    {{form.category}}
    {{form.cover}}
    {{form.content}}
    <button type="submit">Edit</button>
</form>





{% endblock content %}