{% extends 'base.html' %}

{% block title %}
Calorie Calculator
{% endblock title %}


{% block content %}
{% include 'nav.html' %}
<h1 id="calculator-h1">Calculate Your Daily Calorie Needs</h1>
<form class="calc-form" action="{% url 'calculator' %}" method='post'>
    {% csrf_token %}
    <table id="form-table">
        
        <tbody>
            
            {% for field in form %}
            <tr>
                <th>{{field.label}}</th>
                <td>
                    {{field}}
                    {% for error in field.errors %}
                    <p>{{error}}</p>
                    {% endfor %}
                </td>
                
            </tr>
            
            {% endfor %}
            
        </tbody>
        
    </table>
    
    <button type="submit">Calculate Calories</button>
    
    {% if result %}
    <div class='result'>
        <p class='cals'>Calories needed to lose weight: <span>{{result.lose}}</span></p>
        <p class='cals'>Calories needed to maintain weight: <span>{{result.maintain}}</span></p>
        <p class='cals'>Calories needed to gain weight: <span>{{result.gain}}</span></p>
    </div>
    {% endif %}
</form>

    
{% endblock content %}