{% extends 'base.html' %}

{% block title %}
Change Password
{% endblock title %}



{% block content %}
    {% include 'nav.html' %}
    <h1 class="page-h1">Change Password</h1>
    <form class='base-form' action="{% url 'change password' %}" method="post">
        {% csrf_token %}
        {{form.old_password}}
        {{form.old_password.errors}}
        {{form.new_password1}}
        {{form.new_password1.errors}}
        {{form.new_password2}}
        {{form.new_password2.errors}}
        <button type="submit">Submit</button>
    </form>
{% endblock content %}
    