{% extends 'base.html' %}


{% block title %}
High Intensity Zone
{% endblock title %}

{% block content %}

{% include 'nav.html' %}

<header class='home-page-header'>
  <div class="header-container">
    <h1 class="home-h1">
      WELCOME TO THE HIGH INTENSITY ZONE WEBSITE
    </h1>
  </div>

  <section id="features">
    <div class="card blog">
      <img id="icon" src="/static/images/book-xxl.png" alt="">
      <div class="desc">
        <h2>Informative Blog</h2>
        <p>Read and create articles on fitness/nutrition/motivation. We must train the brain as well.</p>
      </div>
    </div>
    <div class="card calculator">
      <img id="icon" src="/static/images/food.png">
      <div class="desc">
        <h2>Calorie Calculator</h2>
        <p>Figure out how much food you should eat on a daily basis to reach your goals faster.</p>
      </div>
    </div>
    <div class="card workouts">
      <img id="icon" src="/static/images/flex.png">
      <div class="desc">
        <h2>Sample Workouts</h2>
        <p>This feature is currently under development and will be available soon.</p>
      </div>
    </div>
  </section>
</header>


{% endblock content %}