{% extends 'base.html' %}


{% block title %}
Home Page
{% endblock title %}

{% block content %}

{% include 'nav.html' %}

<header class='home-page-header'>
  <video autoplay muted loop id="video">
    <source src="/static/video-bg.mp4" type="video/mp4">
  </video>
  
  
  <h1 class='home-h1'>WELCOME TO THE HIGH INTENSITY ZONE WEBSITE</h1>
  
  <section id="features">
    <div class="card blog">
      <img id="icon" src="/static/images/book-xxl.png" alt="">
      <div class="desc">
        <h2>Blog</h2>
        <p>Read and create articles in the blog.</p>
      </div>
    </div>
    <div class="card calculator">
      <img id="icon" src="/static/images/food.png">
      <div class="desc">
        <h2>Calorie Calculator</h2>
        <p>Figure out how much food you should eat on a daily basis to reach your goals faster.</p>
      </div>
    </div>
    <div class="card workouts">
      <img id="icon" src="/static/images/flex.png">
      <div class="desc">
        <h2>Sample Workouts</h2>
        <p>Try some of the intense workouts provided on the website.</p>
      </div>
    </div>
  </section>


</header>


{% endblock content %}