<section class="navigation">

  <div class="nav-container">
    <img class='brand-img' src="/static/images/newlogo.png" alt="">
    <!-- <form action="{% url 'search' %}" method="get" id="search-form">
      <input type="search" name="search" id="search-input" required placeholder="Search articles by title..."
        oninvalid="this.setCustomValidity('Enter at least 1 symbol!')" oninput="this.setCustomValidity('')" />
      <button id='search-btn' type="submit"><i class="fas fa-search"></i></button>
    </form> -->
    <nav>

      <div class="nav-mobile">
        <a id="nav-toggle"><span></span></a>
      </div>

      <ul class="nav-list">

        {% if request.user.is_authenticated %}
        <li><a href="{% url 'home' %}">Home</a></li>




        <li><a class='features-button'>Features</a>
          <ul class="nav-dropdown">
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'calculator' %}">Calorie Calculator</a></li>
            <li><a href="/">Workout Templates</a></li>

          </ul>
        </li>
        
        <li><a href="{% url 'profile page' request.user %}">My Profile</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'home' %}">Home</a></li>

        <li><a class='features-button'>Features</a>
          <ul class="nav-dropdown">
            <li><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'calculator' %}">Calorie Calculator</a></li>
            <li><a href="/">Workout Templates</a></li>
          </ul>
        </li>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}

        {% if request.user.is_superuser %}
        <li><a href="/admin/">Admin Panel</a></li>
        {% endif %}

      </ul>
    </nav>
  </div>
</section>