{% extends 'base.html' %}

{% block title %}


{{object.first_name}} {{object.last_name}}

{% endblock title %}


{% block content %}
{% include 'nav.html' %}
<img class='profile-pic' src="{{userprofile.profile_pic.url}}">
<h1 class="profile-h1">{{object.username}}'s Profile ({{object.first_name}} {{object.last_name}})


    {% if request.user == object %}
    <div class="buttons">

        <button class='like-button profile'>
            <a href="{% url 'profile edit'%}"><i class="fa fa-edit "></i></a>
            <p>Change Username</p>
        </button>


        <button class='like-button profile'>
            <a href="{% url 'profile pic edit'%}"><i class="fas fa-camera"></i></a>
            <p>Change Photo</p>
        </button>


        <button class='like-button profile'>
            <a href="{% url 'change password' %}"><i class="fa fa-key" aria-hidden="true"></i>
            </a>
            <p>Change Password</p>
        </button>

    </div>
    {% endif %}





</h1>
<div class='profile-wrapper'>
    <div>
        <h1 style=>Liked Articles</h1>
        <ul>
            {% if liked %}
            {% for like in liked %}
            <a href="{% url 'article detail' like.article.pk like.article.slug %}">{{like.article.title}}</a>
            {% endfor %}
            {% else %}
            <span class='no-likes'>This section is empty.</span>
            {% endif %}
        </ul>
    </div>
    <div>
        <h1>Created Articles</h1>
        <ul>
            {% if created %}
            {% for creation in created %}
            <a href="{% url 'article detail' creation.pk creation.slug %}">{{creation.title}}</a>
            {% endfor %}

            {% else %}
            <span class='no-likes'>This section is empty.</span>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock content %}