{% extends 'base.html' %}
{% block title %}
Edit Profile Photo
{% endblock title %}
{% block content %}
{% include 'nav.html' %}
<h1 class="page-h1">Change Photo</h1>
<form class='base-form' method="post" action="{% url 'profile pic edit' %}" enctype="multipart/form-data">
    <h2 id="previewh2">Current Photo:</h2>
    <img id='preview' src="{{object.profile_pic.url}}" alt="">
    {% csrf_token %}
    {{form.profile_pic}}
    <button type='submit'>Save Changes</button>
</form>
{% endblock content %}